.tree {
	margin: 0;
	overflow: hidden;
	padding: 0;
	height: 20%;
}

.lined {
	position: relative;
}
.lined:before {
	content: '';
	display: block;
	position: absolute;
	left: -1rem;
	bottom: 1.2rem;
	width: 1.22rem;
	height: 100vh;
	border: 1px solid white;
	border-width: 0 0 1px 1px;
	z-index: 0;
	pointer-events: none;
}

.lined_1::before {
	border: none;
}
.has_child::after{
	content: '';
	display: block;
	position: absolute;
	border: 1px solid white;
	border-width: 0 0 0 1px;
	top: 1.4rem;
	left: 1rem;
	height: 1.5rem;
}
