@import '../../../../base.scss';
.main{
	padding: 0.5rem;
	.nameRow{
		display:flex;
		border-bottom: $border-style;
		color: $font-color;
		padding-block: 0.5rem;
		padding-inline: 1rem;
		& > * {
			width: $defaultSectionWidth;
		}
		.shortRow{
			width: $shortSectionWidth;
		}
		.longRow{
			width: $longSectionWidth;
		}
	}
	.treeWrapper{
		// overflow-y: scroll;
	}

}