@import '../../../../../../../base.scss';

.form {
	width: 100%;
	display: flex;
	& > * {
		all: unset;
		width: $defaultSectionWidth;
	}
}
.editable {
	& > * {
		border: solid 1px $editing-color;
		color: $editing-color;
		width: $defaultSectionWidth;
		padding: 0.5rem;
		border-radius: 0.5rem;
	}
	& > * + *{
		margin-left: 2rem;
	}
}
