@import '../../../../../../base.scss';
.main {
	width: 100%;
	border-bottom: $border-style;
	color: white;
	padding: 0.5rem;
	display: flex;

	.optionsWrapper {
		display: flex;
		flex-basis: 12%;
		.options {
			.icons {
				display: flex;
				align-items: center;
				flex-basis: auto;
				border-radius: 0.5rem;
				padding: 0.2rem;
				position: relative;
				&:hover {
					background-color: #414144;
				}

			}
		}
	}
	.form {
		width: 100%;
		position: relative;
		display: flex;
		& > * {
			all: unset;
			display: flex;
			align-items: center;
			flex-basis: 12%;
		}
	}
	.editable {
		& > * {
			border: solid 1px $editing-color;
			color: $editing-color;
			padding: 0.5rem;
			font-size: 0.9rem;
			border-radius: 0.5rem;
			margin-right: 2rem;
			
		}
	}
	
}

