@import '../../../../../../base.scss';
$spacing: 20px;

.main {
	width: 100%;
	border-bottom: $border-style;
	padding-inline: 1rem;
	height: 2rem;
	color: white;
	padding-block: 0.7rem;
	display: flex;
	.optionsWrapper {
		display: flex;
		width: $shortSectionWidth;
		.options {
			.icons {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-basis: auto;
				border-radius: 0.5rem;
				padding: 0.3rem;
				position: relative;

				& > * + * {
					padding-left: 0.5rem;
				}
				&:hover {
					background-color: #414144;
				}
			}
		}
	}
	.form{
		display: flex;
		align-items: center;
	}
}
