@import '../../../../../../base.scss';
$spacing: 20px;

.main {
	width: 100%;
	border-bottom: $border-style;
	color: white;
	padding: 0.5rem;
	display: flex;

	.optionsWrapper {
		display: flex;
		flex-basis: 12%;
		.options {
			.icons {
				display: flex;
				align-items: center;
				flex-basis: auto;
				border-radius: 0.5rem;
				padding: 0.2rem;
				position: relative;
				background-color: $primary-color;	
				&:hover{
					background-color:  #414144;
				}
			}
			
			
		}
	}
}
