$primary-color: #202124;
$secondary-color:#27272a ;
$border-color: #414144;
$font-color:#a1a1aa;
$border-style: solid $border-color 1px;
$editing-color: #71717a;

$shortSectionWidth: 7vw;
$longSectionWidth: 40vw;
$defaultSectionWidth: 10vw;